<h2>Spotify authentication successful</h2>
<p>Welcome <%= @spotify_user.display_name %>. Your email address is <%= @spotify_user.email %>.</p>
<p>You have <%= @spotify_playlists.count %> playlists, here they are:</p>
<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>
  <% @spotify_playlists.each do |playlist| %>
    <tr>
      <td><%= playlist.name %></td>
    </tr>
  <% end %>
</table>
