%h2 Spotify authentication successful
%p
  Welcome #{@spotify_user.display_name}. Your email address is #{@spotify_user.email}.
%p
  You have #{@spotify_playlists.count} playlists, here they are:
%table.table.table-striped
  %tr
    %th Name
  - @spotify_playlists.each do |playlist|
    %tr
      %td= playlist.name
