%h1 Playlists
= link_to 'Refresh', playlists_refresh_path
%ul
  - @playlists.each do |playlist|
    %li
      = link_to playlist.name, playlist_path(playlist.spotify_id)
      %ul
        %li= link_to 'Refresh', playlist_refresh_path(playlist.spotify_id)
