%h1 Playlists
%p
  = link_to 'Back to Dashboard', dashboard_path
  |
  = link_to 'Refresh', playlists_refresh_path
%table.table.table-striped
  - @playlists.each do |playlist|
    %tr
      %td= link_to playlist.name, playlist_path(playlist.spotify_id)
      %td= link_to 'Refresh', playlist_refresh_path(playlist.spotify_id)
